@import "bootstrap-sprockets";
@import "bootstrap";

table, th, td {
  border: 3px solid black;
  text-color: #000000;
}

th {
  background-color: green;
  color: white;
}
// td {
//   padding-right: 10px;
//   padding-bottom: 10px;
//   margin-left: 5px;
// }

tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}